.loader {
  position: relative;
  top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 0 auto;
  padding: 4px;
  height: 28px;
}

.item1,
.item2,
.item3,
.item4,
.item5 {
  width: 24px;
  height: 12px;
  background-color: #3470ff;
  animation-name: load;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 5px;
}

.item1 {
  animation-delay: 0ms;
}
.item2 {
  animation-delay: 300ms;
}
.item3 {
  animation-delay: 600ms;
}
.item4 {
  animation-delay: 900ms;
}
.item5 {
  animation-delay: 1200ms;
}
@keyframes load {
  0% {
    height: 12px;
  }
  30% {
    height: 24px;
    background-color: #0b44cd;
  }
  60% {
    height: 12px;
  }
}

@media screen and (max-width: 520px) {
  .loader {
    top: 160px;
  }
}
