.filterComtainer {
  padding-top: 80px;
}

.carsContainer {
  height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
    background-color: #d7e3ff;
  }
  &::-webkit-scrollbar-thumb {
    width: 12px;
    border-radius: 5px;
    background-color: #0b44cd;
  }
}
.showMoreCont {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.showMore {
  text-decoration: underline;
  color: #3470ff;
  border: 0;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.showMore:hover,
.showMore:focus {
  color: #0b44cd;
  cursor: pointer;
  transform: scale(1.02);
}

@media screen and (max-width: 800px) {
  .carsContainer {
    height: calc(100vh - 210px);
  }
}
@media screen and (max-width: 646px) {
  .carsContainer {
    height: calc(100vh - 230px);
  }
}

@media screen and (max-width: 520px) {
  .filterComtainer {
    padding-top: 160px;
  }
  .carsContainer {
    height: calc(100vh - 310px);
  }
}
@media screen and (max-width: 480px) {
  .carsContainer {
    height: calc(100vh - 360px);
  }
}
