.header {
  position: relative;
  z-index: 99;
  padding: 4px 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 4px;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.link {
  text-decoration: none;
  padding: 12px 24px;
  font-size: 22px;
  font-weight: 500;
  border: solid 0px transparent;
  border-radius: 32px;
  text-align: center;

  background-color: #3470ff;
  color: #ffffff;
}

.link:hover,
.link:focus {
  text-decoration: underline;
  background-color: #0b44cd;
}

@media screen and (max-width: 520px) {
  .link {
    width: 80%;
  }
}
